.button {
    font-size: 16px;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 15px 24px;
}

.button-default {
    background-color: #151C20;
}

.button-accent {
    background-color: #54B454;
}