.education-results {
    padding: 32px 0 96px;
    background-color: #FFF;
}

.title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 46px;
    line-height: 36px;
    color: #151C20;
    margin-bottom: 65px;
}